:root {
  --head-color: #202020;
  --bg-color: #282828;
  --text-color: #ffffff;
}

html {
  width: 100%;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden
}

body {
  font-family: Arial, sans-serif;
  color: var(--text-color);
  background: var(--bg-color)
}

header {
  display: block;
  text-align: center;
  background-color: var(--head-color);
  padding: 12px;
  top: 0;
  z-index: 1;
  width: 100%;
}
