:root {
    --head-color: #202020;
}

html {
  width: 100%;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden
}

header {
  display: block;
  text-align: center;
  background-color: var(--head-color);
  padding: 12px;
  top: 0;
  z-index: 1;
  width: 100%;
}
